body {
  margin: 0;
}

.containter {
  /* margin: auto; */
}

.frame {
  /* margin: 4rem; */
}

.img-container {
  padding: 4rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1px;
  padding: 1px;
  background-color: #2196f3;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  /* width: 100px; */
  /* height: 100px; */
}

#text {
  /* padding: 2rem; */
  grid-area: 2 / 2 / 4 / 7;
  width: 100%;
  height: 100%;
}
/* .text {
  border: 1px solid #2196f3;
  margin: 10px;
} */
