:root {
  --x: 125px;
  --y: 125px;
}

body {
  margin: 0;
  font-family: "League Spartan", sans-serif;
  font-size: large;
}

img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

p {
  margin: 0;
}

.img-container {
  margin: 10%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, minmax(30px, 1fr));
  grid-template-rows: repeat(3, minmax(30px, 1fr));
  transition: all 10s;
  background-color: #1c1917;
}

.item {
  aspect-ratio: 1;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  position: relative;
}

.text-div {
  padding: 2rem;
  background-color: #18181b;
  grid-area: 2 / 2 / 2 / 10;
  text-align: center;
}

.text {
  color: white;
}

.extra {
  display: none;
}

.hidden {
  display: none;
}

.show {
  display: flex;
}

@keyframes right {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(var(--x), 0px);
  }
}

@keyframes left {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(calc(var(--x) * -1), 0px);
  }
}

@keyframes up {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, calc(var(--y) * -1));
  }
}

@keyframes down {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, var(--y));
  }
}

.right {
  position: relative;
  -webkit-animation-name: right;
  animation-name: right;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  z-index: 1;
}

.left {
  position: relative;
  -webkit-animation-name: left;
  animation-name: left;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  z-index: 1;
}

.up {
  position: relative;
  -webkit-animation-name: up;
  animation-name: up;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  z-index: 1;
}

.down {
  position: relative;
  -webkit-animation-name: down;
  animation-name: down;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  z-index: 1;
}
