body {
  margin: 0;
}

p {
  margin: 0;
}

.containter {
  /* margin: auto; */
}

.frame {
  /* margin: 4rem; */
}

.img-container {
  margin: 10%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, minmax(30px, 1fr));
  grid-template-rows: repeat(3, minmax(30px, 1fr));
  gap: 1px;
  padding: 1px;
  background-color: #2196f3;
}

/* @media (min-width: 350px) {
  .img-container {
    margin: 4rem;
  }
} */

.item {
  aspect-ratio: 1;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.text-div {
  padding: 2rem;
  background-color: #292524;
  grid-area: 2 / 2 / 2 / 10;
  text-align: center;
}

.text {
  color: white;
}

.extra {
  display: none;
}

.hidden {
  display: none;
}

.show {
  display: flex;
}
